<mat-toolbar color="primary" class="app-header">
  <span class="nav-tool-items" *ngIf="!isLoggedIn">
    <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
    <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
  </span>
  <span class="nav-tool-items" *ngIf="isLoggedIn">
    <p class="leftstr">
      <button mat-button routerLink="/">Transfers</button>
      <button mat-button routerLink="/transfer">Waste some</button>
    </p>
    <p class="centerstr">
      {{currentUser.name}} - {{balance}} PWs
    </p>
    <p class="rightstr" >
      <button mat-button routerLink="login"(click)="logout()">logOut</button>
    </p>
    <div style="clear: left"></div>
  </span>

</mat-toolbar>

<router-outlet></router-outlet>